@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@700&display=swap');

*{
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
}

body {
    margin: 0cm;
    padding: 0cm;
    width: 100%;
}

.navbar {
    position: relative;
    background-color: #2c2c2c;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
}

.navbar li {
    position: relative;
    margin: 5px;
    font-family: 'Inter', sans-serif;
    padding: 30px 50px;
}

.navbar li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;

}
.la_carte {
    position: absolute;
    left: 5.3%;
}

.nos_services {
    position: absolute;
    left: 3.5%;
}

.contact {
    position: absolute;

}
.la_carte::after {
    content: '';
    position: absolute;
    right: -5px;
    bottom: 1%;  
    width: 2px; 
    height: 50%; 
    background-color: white; 
}

.la_carte::before {
    content: '';
    position: absolute;
    right: 200px;
    bottom: 1%;  
    width: 2px; 
    height: 50%; 
    background-color: white; 
}

.nos_services::after {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 1%;  
    width: 2px; 
    height: 50%; 
    background-color: white; 
}

.contact::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 1%;  
    width: 2px; 
    height: 50%; 
    background-color: white;
}
.logo a img{
    position: absolute;
    padding: -100%;
    height: 80px;
    width: 200px;
    margin-right: 500px;
    left: 0%;
    top: 0%;
}

.login {
    position: absolute;
    right: 0%;
    top: -55%;
    background-color: #3c3c3c;
    height: 155%;
    width: 4.1%;
}

.login img {
    position: absolute;
    left: 8.5%;
    bottom: 6%;
}

.banner {
    background-image: url("images/Naruto-scaled1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20%;
    text-align: center;
    font-size: 350%;
    color: white;
    font-family: 'Inter', sans-serif;
}

.footer_bar {
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0%;
}

.footer_bar ul {
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer_bar ul li {
    margin: 5px 20px;
    margin-bottom: 5%;
}

.footer_bar ul li img {
    height: 50px;
    width: 50px;
}

.cd a {
    text-decoration: none;
    color: white;
    font-family: 'Inter' Thin;
    height: 5px;
    font-size: 65%;
}

.cd {
    position: relative;
    margin-top: 50px;
}

section {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Inter', sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 6.5%;
    margin-bottom: 6.5%;
}

p {
    text-align: center;
    margin-top: 6.5%;
    margin-bottom: 10%;
}

.navbar-mobile {
    display: none;
}

@media only screen and (min-width: 2050px) and (max-width: 2600px) {
    .login {
        position: absolute;
        right: 0%;
        top: -55%;
        background-color: #3c3c3c;
        height: 155%;
        width: 3.4%;
    }
    
    .login img {
        position: absolute;
        left: 8.5%;
        bottom: 6%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .login {
        position: absolute;
        right: 0%;
        top: -55%;
        background-color: #3c3c3c;
        height: 155%;
        width: 4.1%;
    }
    
    .login img {
        position: absolute;
        left: 8.5%;
        bottom: 6%;
    }
}

@media (min-width: 2100px) and (max-width: 2100px) {
    .login {
        position: absolute;
        right: 0%;
        top: -55%;
        background-color: #3c3c3c;
        height: 155%;
        width: 4.1%;
    }
    
    .login img {
        position: absolute;
        left: 8.5%;
        bottom: 6%;
    }
}

@media (max-width: 1800px) {
    .login {
        position: absolute;
        right: 0%;
        top: -55%;
        background-color: #3c3c3c;
        height: 155%;
        width: 4.6%;
    }
    
    .login img {
        position: absolute;
        left: 8.5%;
        bottom: 6%;
    }
}
@media (max-width: 1500px) {
    .login {
        position: absolute;
        right: 0%;
        top: -55%;
        background-color: #3c3c3c;
        height: 155%;
        width: 5.1%;
    }
    
    .login img {
        position: absolute;
        left: 8.5%;
        bottom: 6%;
    }
}
@media (max-width: 1400px) {
    .login {
        position: absolute;
        right: 0%;
        top: -55%;
        background-color: #3c3c3c;
        height: 155%;
        width: 6.1%;
    }
    
    .login img {
        position: absolute;
        left: 8.5%;
        bottom: 6%;
    }

}

@media (max-width: 1200px) {

    label {
        position: absolute; 
        top: -30px; 
        transform: scale(0.8); 
        transform-origin: center; 
      }
  
    input {
      transform: scale(0.8); 
      transform-origin: center; 
    }

    .navbar {
        display: none; 
    }

    .navbar-mobile {
        position: relative;
        display: flex; 
        background-color: #2c2c2c;
        height: 5em;
        align-items: center;
        padding: 0 20px;
    }

    
    .logo-mobile {
        position: absolute;
        left: 40.5%;
    }

    .logo-mobile img {
        max-width: 100%;
    }

    .menu-toggle {
        position: absolute;
        width: 40px;
        height: 30px;
        z-index: 2; 
        cursor: pointer;
        opacity: 0;
    }
    

    #menu li {
        list-style-type: none;
        margin: 5px 0;
    }
  
    .menu li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Inter', sans-serif;
        font-size: 150%;
        display: inline-block;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
    }


    .burger {
        position: absolute;
        top: 25%;
        z-index: 1;
    }
    
    
    .menu {
        display: none;
        position: absolute; 
        top: 100%; 
        left: 0;
        width: 100%; 
        background-color: white; 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
       
    }
    
  
    .menu-toggle:checked + .menu {
        display: block;
        background-color: #2c2c2c;

    }

    .footer_bar {
        background-color: #2c2c2c;
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .footer_bar ul {
        position: absolute;
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    
    .footer_bar ul li {
        margin: 5px 20px;
        margin-bottom: 5%;
    }
    
    .footer_bar ul li img {
        height: 50px;
        width: 50px;
    }
    
    
  }
@media (max-width: 1000px) {
    .banner {
        background-image: url("images/Naruto-scaled1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20%;
        text-align: center;
        font-size: 250%;
        color: white;
        font-family: 'Inter', sans-serif;
    }
    
}
@media (max-width: 850px) {
    .logo-mobile {
        position: absolute;
        left: 38%;
    }
}

@media (max-width: 726px) {
    .logo-mobile {
        position: absolute;
        left: 35%;
    }
}

@media (max-width: 580px) {
    .logo-mobile {
        position: absolute;
        left: 32%;
    }

    .banner {
        background-image: url("images/Naruto-scaled1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20%;
        text-align: center;
        font-size: 150%;
        color: white;
        font-family: 'Inter', sans-serif;
    }
}

@media (max-width: 500px) {
    .logo-mobile {
        position: absolute;
        left: 28%;
    }
}

@media (max-width: 400px) {
    .logo-mobile {
        position: absolute;
        left: 25%;
    }
}



@media (max-height: 500px) {

    .login {
        position: absolute;
        right: 0%;
        top: -55%;
        background-color: #3c3c3c;
        height: 155%;
        width: 10%;
    }
    
    .login img {
        position: absolute;
        left: 8.5%;
        bottom: 6%;
    }

    .logo a img{
        position: absolute;
        padding: -100%;
        height: 100%;
        width: 18%;
        margin-right: 500px;
        left: 0%;
        top: 0%;
    }

}


